<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meus Lazeres</title>
    <link rel="stylesheet" href="CSS/entreterimento.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,400;1,400&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <!--Navegação (Menu)-->
      <nav>
        &nbsp;&nbsp;&nbsp;<a href="mySite.html" target="_blank">| About Me</a
        >&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="entreterimento.html" target="_blank">Entreterimento</a
        >&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="music.html" target="_blank"> Música</a
        >&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href ="contato1.html" target="_blank">Contato |</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <!--HREF referência bro-->
        <!--"A" say Anchor-->
      </nav>
    </header>

    <!--Conteúdo de entreterimento-->
    <!--Teste article-->
    <article>
      <h2>Ragnarök</h2>
      <br>
      <p>
        <a href="https://www.netflix.com/br/title/80232926">
        <img src="IMAGENS/ragnarok.jpg" alt="Elenco de Ragnarok" width="500px" height="" />
      </a>
      </p>
      <p>
        Na história de Ragnarok, a pequena cidade de Edda sofre com mudanças climáticas drásticas. <br>
         Assim, com a cidade envenenada pela poluição e abalada por geleiras derretendo, o fim dos tempos parece estar cada vez mais próximo. <br>
        O Adolescente Magne, que é a reencarnação do Deus do Trovão, Thor. Com os poderes do filho de Odin e com a ajuda de seus amigos,<br>
         ele tenta resolver os problemas de Edda.


      </p>
      
    </article>
    
    <article>
      <h2>Criminal Minds</h2>
      <br>
      <p>
        <a
        href="https://www.starplus.com/pt-br/series/criminal-minds/6PNwItKkiA6Z">
        <img src="IMAGENS/criminalvf.webp" alt="" width="450px" height="" />
      </a>
      </p>
      <p>
        CriminalMinds é uma série sobre resoluções de casos <br />
        sobre a BAU (Behavior Analysis Unit) um esqudrão de<br />
        elite do FBI, com sede em Quantico, Virgínia.
      </p>
    
    </article>
    
    <article>
      <h2>BlindSpot</h2>
    <br>
      <p>
        <a href="https://www.netflix.com/br/title/80058486">
        <img src="IMAGENS/Pontocego.jpg " alt="BlindSpot" width="500px" height="" />
      </a>
      </p>
      <p>
        Blindspot centra-se em uma mulher tatuada e misteriosa que foi
        encontrada <br />
        totalmente nua na Times Square em Nova York após perder a memória<br />
        e sem saber a sua própria identidade.
      </p>
      
    </article>
    
    <article>
      <h2>Grey's Anatomy</h2>
      <br>
      <p>
        <a href="https://www.starplus.com/pt-br/series/greys-anatomy/6P4ZI3bWwSDj">
        <img src="IMAGENS/grey's.webp" alt="" width="500px" height="" />
      </a>
      </p>
      <p>
        A série foca na vida de médicos cirurgiões internos, residentes e <br />
         atendentes; e como eles evoluem na sua profissão ao tentar manter a
        vida <br />
        dos seus pacientes e nos seus relacionamentos pessoais.
      </p>
      
    </article>
    
    <article>
      <h2>Breaking Bad</h2>
      <br>
      <p>
      <a href="https://www.netflix.com/br/title/70143836">
      <img src="IMAGENS/breakingbad.webp" alt="Breaking" width="500px" height="">
      </a>
      </p>
      <p>
        Ela retrata a vida do químico Walter White,<br> 
         um homem brilhante frustrado em dar aulas para adolescentes <br>
         do ensino médio enquanto lida com um filho sofrendo de paralisia cerebral, <br>
         uma esposa grávida e dívidas intermináveis.
      </p>
      
    </article>
    <br><br>
    <footer> 2023 &copy; &nbsp; Created by Danilo M. </footer>
    
    </body>
</html>
