<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Playlist</title>
    <link rel="stylesheet" href="CSS/music.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,400;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav> 
            &nbsp;&nbsp;&nbsp;<a href ="mySite.html" target="_blank">| About Me</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href ="entreterimento.html" target="_blank">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href ="music.html" target="_blank"> Música</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href ="contato1.html" target="_blank">Contato |</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <!--HREF referência bro--> <!--"A" say Anchor-->
        </nav>
     </header>
            <!--Seção para a minha playlist-->
            <main>
                <h2>Top 12 Músicas Favoritas</h2>
                <ul>
                    <li><span>Camila Cabello</span> - Shamless</li>
                    <li><span>Billie Eilish</span> - Happier Than Ever</li>
                    <li><span>The Weekend & Ariana Grande</span> - Die For You</li>
                    <li><span>Justin Timberlake</span> - Mirrors</li>
                    <li><span>Billie Eilish</span> - Happier Than Ever </li>
                    <li><span>BlackPink</span> - Tally</li>
                    <li><span>Lisa</span> - LALISA</li>
                    <li><span>Lisa</span> - MONEY</li>
                    <li><span>BlackPink</span> - Hard to Love</li>
                    <li><span>BlackPink</span> - Ready For Love</li>
                    <li><span>BlackPink</span> - Forever Young</li>
                    <li><span>Miley Cyrus</span> - Flowers</li>
                </ul>
            </main>
            
</body>
<footer>2023 &copy; &nbsp; Created by Danilo M.  </footer>
</html>