<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
    <link rel="stylesheet" href="CSS/mysite.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,400;1,400&display=swap" rel="stylesheet">
</head>
<body>    
    <header>
<nav> 
    &nbsp;&nbsp;&nbsp;<a href ="mySite.html" target="_blank">| About Me</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href ="entreterimento.html" target="_blank">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href ="music.html" target="_blank"> Música</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href ="contato1.htmlt" target="_blank">Contato |</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <!--HREF referência bro--> <!--"A" say Anchor-->
</nav>
    </header>

    <!--Conteúdo Pricipal do mySite-->
    <main>
        <h1>Welcome to my Mess!</h1>
        <p>
            <h4>My name is Danilo Melo </h4>
            <h4>I'm 19.</h4><br>
            <h2>About Me:</h2>
            <ul><!--Lista não oredenada-->
                <li>Volta Ariston!</li>
                <li>Estudo:</li>
                    <ul>
                        <li>Inglês</li>
                        <li>| HTML | CSS | </li>
                    </ul>
                <li>Jogo WildRift :( </li>
                    <ul>
                        <li>Ad-Carry</li>
                        <li>Ulitimamente so AD pq Carry ta díficil</li>
                    </ul>
                <li>Curto bastante assistir algo em Inglês</li>
                <li>Amo ficar em casa</li>
                <li>Amo meus Pais</li>
            </ul>
        </p>
    </main>
    <!--Footer-->
    <footer>
        2023 &copy;&nbsp; Created by Danilo M. 
    </footer>
</body>
</html>