<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre em contato comigo!</title>
</head>
<body>
    <header style="display: flex;">
        
        <section>
            <img src="perfil.webp" alt="Foto de Perfil" height="100px" width="200px">
        </section>
        
        <nav> 
            &nbsp;&nbsp;&nbsp;<a href ="mySite.html" target="_blank">| About Me</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href ="entreterimento.html" target="_blank">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href ="music.html" target="_blank"> Música</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href ="contato1.html" target="_blank">Contato</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            
        </nav>
            </header>

            <main>
                <h3>Fale Comigo! | Talk to Me!</h3>
            </main>
            <article>
                <form method="post" id="fContato" action="mailto:danilommelo1@outlook.com">
                    <fieldset>
                    <legend><strong>Suas Informações</stong></legend>
                    <label for="cNome" >Nome:</label><br>
                    <input type="text" size="50" name="tNome" required placeholder="Insira o seu nome!">
                    <br><br>

                    <label for="cNome" >E-mail:</label><br>
                    <input type="text" size="50" name="E-mail" required placeholder="Insira o seu E-mail!">
                    <br><br>

                    <label for="cNome" >WhatsApp:</label><br>
                    <input type="tel" size="50" name="tel" required placeholder="Insira o seu Contato!">
                    <br><br>
                         
                    <label for="Data">Data de Nascimento:</label> <br>
                    <input type="date" size="50" name="data" id="Data" required="required" placeholder="dd\mm\aa">
                    <br>

                </fieldset>
                </article><br>
            <fieldset>
                <legend><Strong>FeedBack</Strong></legend>
             <textarea name="message" rows="10" cols="30" placeholder="Deixe aqui a sua mensagem"></textarea>
            </fieldset>
                
             <br>

            <input type="submit" value="Enviar">
                
            </form>
</body>
</html>