<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meus Lazeres</title>
  </head>
  <body>
    <header style="display: flex">
      <!--Here starts my "Logo" -->
      <section>
        <img
          src="perfil.webp"
          alt="Foto de Perfil"
          height="100px"
          width="200px"
        />
      </section>
      <!--Navegação (Menu)-->
      <nav>
        &nbsp;&nbsp;&nbsp;<a href="mySite.html" target="_blank">| About Me</a
        >&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="entreterimento.html" target="_blank">Entreterimento</a
        >&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="music.html" target="_blank"> Música</a
        >&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href ="contato1.html" target="_blank">Contato</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <!--HREF referência bro-->
        <!--"A" say Anchor-->
      </nav>
    </header>
<hr>
    <!--Conteúdo de entreterimento-->
    <!--Teste article-->
    <article>
      <h2>Ragnarok</h2>
      <h5>Nível 5/5</h5>
      <p>
        <img src="OIP.jfif" alt="Elenco de Ragnarok" width="300px" height="" />
      </p>
      <p>
        Ragnarok é um Deus da mitologia Nórdica. <br />
        Nessa série quem recebe o poder é um garoto chamado "Magne"<br />
        No decorrer da série ele tem que se preparar para uma batalha contra<br />
        os "Giants" os gigantes que "são na teoria os personagens do mal."<br />
      </p>
      <p>
        Conheça mais sobre Ragnarok Netflix: &nbsp;
        <a href="https://www.netflix.com/br/title/80232926">Ragnarok+</a>
      </p>
    </article>
    <hr />
    <article>
      <h2>Criminal Minds</h2>
      <h5>Nível 5/5</h5>
      <p>
        <img src="Criminalminds.jfif" alt="" width="300px" height="" />
      </p>
      <p>
        CriminalMinds é uma série sobre resoluções de casos <br />
        sobre a BAU (Behavior Analysis Unit) um esqudrão de<br />
        elite do FBI, com sede em Quantico, Virgínia.
      </p>
      <p>
        Conheça mais sobre Criminal Minds em: &nbsp;
        <a
          href="https://www.starplus.com/pt-br/series/criminal-minds/6PNwItKkiA6Z"
          >StarPlus+</a
        >
      </p>
    </article>
    <hr />
    <article>
      <h2>BlindSpot</h2>
      <h5>Nível 5/5</h5>
      <p>
        <img src="blindspot.jfif" alt="" width=" " height="" />
      </p>
      <p>
        Blindspot centra-se em uma mulher tatuada e misteriosa que foi
        encontrada <br />
        totalmente nua na Times Square em Nova York após perder a memória<br />
        e sem saber a sua própria identidade.
      </p>
      <p>
        Conheça mais sobre BlindSpot em: &nbsp;
        <a href="https://www.netflix.com/br/title/80058486">BlindSpot+</a>
      </p>
    </article>
    <hr />
    <article>
      <h2>Grey's Anatomy</h2>
      <h5>Nível 5/5</h5>
      <p>
        <img src="greys1.jfif" alt="" width="" height="" />
      </p>
      <p>
        A série foca na vida de médicos cirurgiões internos, residentes e <br />
         atendentes; e como eles evoluem na sua profissão ao tentar manter a
        vida <br />
        dos seus pacientes e nos seus relacionamentos pessoais.
      </p>
      <p>
        Conheça mais sobre Grey's Anatomy em: &nbsp; <a href="https://www.starplus.com/pt-br/series/greys-anatomy/6P4ZI3bWwSDj"> Grey's+</a>
      </p>
    </article>
    <hr />
    <article>
      <h2>Breaking Bad</h2>
      <h5>Nível 4/5</h5>
      <p>
       <img src="breaking.jfif" alt="" width="" height="">
      </p>
      <p>
        Ela retrata a vida do químico Walter White,<br>
         um homem brilhante frustrado em dar aulas para adolescentes <br>
         do ensino médio enquanto lida com um filho sofrendo de paralisia cerebral, <br>
         uma esposa grávida e dívidas intermináveis.
      </p>
      <p>
        Conheça mais sobre BreakingBad em: &nbsp; <a href="https://www.netflix.com/br/title/70143836">BrekingBad+</a>
      </p>
    </article>
    <footer>By Danilo M. &copy;</footer>
    
  </body>
</html>
