<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Playlist</title>
</head>
<body>
    <header style="display: flex;">
        <!--Here starts my "Logo" -->
        <section>
            <img src="perfil.webp" alt="Foto de Perfil" height="100px" width="200px">
        </section>
        <!--Navegação (Menu)-->
        <nav> 
            &nbsp;&nbsp;&nbsp;<a href ="mySite.html" target="_blank">| About Me</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href ="entreterimento.html" target="_blank">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href ="music.html" target="_blank"> Música</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href ="contato1.html" target="_blank">Contato</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <!--HREF referência bro--> <!--"A" say Anchor-->
        </nav>
            </header>
            <hr>
        
            <!--Seção para a minha playlist-->
            <main>
                <h3>Top 10 das minhas músicas favoritas</h3>
                <ol>
                    <li>BlackPink - Tally</li>
                    <li>Camila Cabello - Shamless</li>
                    <li>NewJeans - OMG</li>
                    <li>Billie Eilish - What was I Made For?</li>
                    <li>The Weekend & Ariana Grande - Die For You</li>
                    <li>Lisa - LISA</li>
                    <li>꽃 - JISOO</li>
                    <li>Billie Eilish - Happier Than Ever </li>
                    <li>BlackPink - Hard to Love</li>
                    <li>BlackPink - Ready For Love</li>
                </ol>
            </main>
            <hr>
</body>
<footer>By Danilo M. &copy; </footer>
</html>